:root {
    --text-color: #fffff2;
    --url-color: #5783b2;
    --background-color: #2d2b27;
}

a{
    color: var(--url-color);
    text-decoration: none;
}
h1{
    color: var(--text-color);
}
p{
    color: var(--text-color);
}
html{
    background-color: var(--background-color);
}