.menu_buttons{
    position: fixed;
    border-radius: 2rem;
    background-color: rgba(78, 68, 68, 0.859);
    
    padding: 0.3rem;
    border-style: double;
    border-width: 0.5rem;
    
    transform: translate(-50%, -50%);
    left: 50%;
    top:  90%;
}